



  <!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="C:/Users/vedant.rathore/Desktop/ExpressJS/formRegistration/templates/style/style.css">

    <style>
       
    </style>
    <title>features</title>
</head>

<body>
    
   
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" _msttexthash="137436" _msthash="1" style="direction: ltr; text-align: left;">Slideshow</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" _mstaria-label="2736227" _msthash="2" _mstvisible="0" style="direction: ltr;">
        <span class="navbar-toggler-icon" _mstvisible="1"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" _msttexthash="106340" _msthash="3" style="direction: ltr; text-align: left;">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" _msttexthash="47528" _msthash="4" style="direction: ltr; text-align: left;">link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" _msttexthash="205842" _msthash="5" style="direction: ltr; text-align: left;">Inactive link</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="search" aria-label="search" _mstplaceholder="492583" _msthash="6" _mstaria-label="492583" style="direction: ltr; text-align: left;">
          <button class="btn btn-outline-success" type="submit" _msttexthash="77519" _msthash="7" style="direction: ltr;">search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
 
 <main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" _mstaria-label="66157" _msthash="8" style="direction: ltr;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" _mstaria-label="66313" _msthash="9" style="direction: ltr;"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" _mstaria-label="66469" _msthash="10" style="direction: ltr;"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 _msttexthash="218790" _msthash="11" style="direction: ltr; text-align: left;">Example title.</h1>
            <p _msttexthash="16085186" _msthash="12" style="direction: ltr; text-align: left;">Statistical studies according to the American Language Association indicate that the demand for Arabic increased by 126% in the United States of America alone between 2002 and 2009.</p>
            <p><a class="btn btn-lg btn-primary" href="#" _msttexthash="230178" _msthash="13" style="direction: ltr;">Register Today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" _msthidden="3">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container" _msthidden="3">
          <div class="carousel-caption" _msthidden="3">
            <h1 _msttexthash="3109626" _msthidden="1" _msthash="14">عنوان مثال آخر.</h1>
            <p _msttexthash="173820491" _msthidden="1" _msthash="15">حسب المجلس الثقافي البريطاني فإن تعليم الإنجليزية داخل بريطانيا يسهم في تعزيز اقتصادها بما يتجاوز ملياري جنيه سنوياً، كما أنه وفر أكثر من 26 ألف وظيفة.</p>
            <p _msthidden="1"><a class="btn btn-lg btn-primary" href="#" _msttexthash="1732250" _msthidden="1" _msthash="16">أعرف أكثر</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" _msthidden="3">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

        <div class="container" _msthidden="3">
          <div class="carousel-caption text-end" _msthidden="3">
            <h1 _msttexthash="4810104" _msthidden="1" _msthash="17">واحد أكثر لقياس جيد.</h1>
            <p _msttexthash="399324289" _msthidden="1" _msthash="18">الإحصاءات لحجم الاستثمار اللغوي خارج بريطانيا تتفاوت من سنة لأخرى إلا أن المدير التنفيذي للمجلس الثقافي البريطاني إدي بايرز يرى أن استثمار تعليم الإنجليزية في الخارج لا يحسب على المستوى المالي فحسب بل على المستوى السياسي أيضاً.</p>
            <p _msthidden="1"><a class="btn btn-lg btn-primary" href="#" _msttexthash="2378116" _msthidden="1" _msthash="19">تصفح المعرض</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden" _msttexthash="119327" _msthash="20" style="direction: ltr;">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" _msttexthash="49634" _msthash="21" style="direction: ltr;">next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" style="direction: ltr;">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="310609" _mstHash="22" style="direction: ltr;"><title _mstTextHash="177515" _mstHash="23">Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em" _mstTextHash="54314" _mstHash="24">140x140</text></svg>

        <h2 _msttexthash="97565" _msthash="25">address</h2>
        <p _msttexthash="23917322" _msthash="26">Always remember that a computer does not have intelligence, but it acquires artificial intelligence through three main functional elements: the ability to analyze, the ability to compose, and logical reasoning.</p>
        <p><a class="btn btn-secondary" href="#" _msttexthash="177125" _msthash="27">View Details</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" style="direction: ltr;">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="310609" _mstHash="28" style="direction: ltr;"><title _mstTextHash="177515" _mstHash="29">Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em" _mstTextHash="54314" _mstHash="30">140x140</text></svg>

        <h2 _msttexthash="206648" _msthash="31">Other address</h2>
        <p _msttexthash="79648907" _msthash="32">If we want to use the smart computer in the processing of the Arabic language, we find ourselves facing a great challenge, especially since our language is characterized by the coherence and overlap of its systems, however, artificial intelligence enables us to obtain four types of processing: phonetic processing, morphological processing, grammatical processing, and semantic processing.</p>
        <p><a class="btn btn-secondary" href="#" _msttexthash="177125" _msthash="33">View Details</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4" style="direction: ltr;">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="310609" _mstHash="34" style="direction: ltr;"><title _mstTextHash="177515" _mstHash="35">Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em" _mstTextHash="54314" _mstHash="36">140x140</text></svg>

        <h2 _msttexthash="1228162" _msthash="37">A third heading to confirm the information</h2>
        <p _msttexthash="60310016" _msthash="38">Thanks to artificial intelligence research and technologies, we were able to move from the stage of dealing with the physicist to the stage of dealing with the logical, and this transition reflected positively on how people deal with their living languages, and this means that it must reflect positively on how we deal with our Arabic language.</p>
        <p><a class="btn btn-secondary" href="#" _msttexthash="177125" _msthash="39">View Details</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" _msttexthash="1687309" _msthash="40" style="direction: ltr; text-align: left;">Featured first title. <span class="text-muted" _istranslated="1"> Your mind will be astonished. </span></h2>
        <p class="lead" _msttexthash="465933689" _msthash="41">وجه الإنسان هو جزء معقَّد ومتميِّز للغاية من جسمه. وفي الواقع، إنه أحد أكثر أنظمة الإشارات المتاحة تعقيداً لدينا؛ فهو يتضمَّن أكثر من 40 عضلة مستقلة هيكلياً ووظيفياً، بحيث يمكن تشغيل كل منها بشكل مستقل عن البعض الآخر؛ وتشكِّل أحد أقوى مؤشرات العواطف.</p>
      </div>
      <div class="col-md-5" style="direction: ltr; text-align: left;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="310505" _mstHash="42"><title _mstTextHash="177515" _mstHash="43">Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em" _mstTextHash="54210" _mstHash="44">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" _msttexthash="8179899" _msthash="45">أوه نعم، هذا جيد. <span class="text-muted"> شاهد بنفسك. </span></h2>
        <p class="lead" _msttexthash="319566026" _msthash="46">عندما نضحك أو نبكي، فإننا نعرض عواطفنا، مما يسمح للآخرين بإلقاء نظرة خاطفة على أذهاننا أثناء "قراءة" وجوهنا بناءً على التغييرات في مكوّنات الوجه الرئيسة، مثل: العينين والحاجبين والجفنين والأنف والشفتين.</p>
      </div>
      <div class="col-md-5 order-md-1" style="direction: ltr; text-align: left;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="310505" _mstHash="47"><title _mstTextHash="177515" _mstHash="48">Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em" _mstTextHash="54210" _mstHash="49">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" _msttexthash="4931043" _msthash="50">وأخيرًا، هذا. <span class="text-muted"> كش ملك. </span></h2>
        <p class="lead" _msttexthash="500491641" _msthash="51">إن جميع العضلات في أجسامنا مدعمة بالأعصاب المتصلة من كافة أنحاء الجسم بالنخاع الشوكي والدماغ. وهذا الاتصال العصبي هو ثنائي الاتجاه، أي إن العصب يتسبَّب في تقلصات العضلات بناءً على إشارات الدماغ، ويقوم في الوقت نفسه بإرسال معلومات عن حالة العضلات إلى الدماغ</p>
      </div>
      <div class="col-md-5" style="direction: ltr; text-align: left;">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="310505" _mstHash="52"><title _mstTextHash="177515" _mstHash="53">Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em" _mstTextHash="54210" _mstHash="54">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#" _msttexthash="2734797" _msthash="55">عد إلى الأعلى</a></p>
    <p _msttexthash="24933844" _msthash="56">© 2017–2021 Company, Inc. · <a href="#">سياسة الخصوصية</a> · <a href="#">شروط الاستخدام</a></p>
  </footer>
</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      
  

</body>
</html>