<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload image!</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; width: 100vw ; height: 100vh;" >
    <div class="container">
        <form action="/profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
      <button type="submit"> Submit </button>
      </form>
    </div>
      
</body>
</html>